/*

header{
    margin-left: 50px;
    margin-top: 30px;
}
body{
    background:#F3F5FC;
    width: 964px;
}

.contenedor-principal{
   width: 100%;
   height: 100%;
   display: flex;
   margin-left: 30%;
}


.texto-para-encriptar{
    height:600px;
    width: 577px;
    left: 240px;
    top: 168px;
    border-radius: nullpx;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background:#F3F5FC;
    margin: 30px;
    
}



.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#boton-encriptar{
    height: 67px;
    width: 228px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    padding: 24px; 
    background: #0A3871;
    color:#FFFFFF;  
}

#condicion{
    height: 18px;
    width: 205px;
    left: 24px;
    top: 0px;
    border-radius: nullpx;
    text-align: center;
    
}

#condicion{
    display: inline;
}


#boton-Desencriptar{
    height: 67px;
    width: 228px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    padding: 24px; 
    background: #D8DFE8;
    color:#0A3871;  
    margin-left: 50px;
}

.contenedor-desencriptar{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 600px;
    height: 700px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    text-align: center;
}

#texto-para-desencriptar{
    border: none;
    text-align: center;
}

#img-descifrado{
    display: block;
    margin: 50px;
    margin-top: 50px;
    width: 250px;
    height: 250px;
}

#texto-para-desencriptar{
    padding-top: 30px;
    width: 400px;
    
}

#mensaje{
    font-size: 20px;
    font-weight: bold;
}

#copiar{
    height: 67px;
    width: 128px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    padding: 24px; 
    background: #D8DFE8;
    color:#0A3871;  
    margin-top: 15px;
    margin-left: 130px;
   
}

@media screen and (max-width:480px) {


    .contenedor-principal{
        position: absolute;
    }

    #img-descifrado{
        width: auto;
        position: absolute;
        display:none;
    }

    #contenedor-desencriptar{
        width: auto;
        position: absolute;

    }
    
}

*/

*{
    background:#F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 50px;
    margin-left: 30px;
}

main{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-left: 10px;
    text-align: center; 
}

.flex-item {
    padding: 10px;
    flex: 40%;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

@media (max-width: 800px) {
    .flex-item {
      flex: 100%;
    }
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder { color: #0A3871; }
  .text-area:focus {
      outline: none;
    }

.mensaje{
    background: white;
    background-image: url("imagenes/dibujo.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 20px;
    padding-left: 20px;
    /*position: fixed;*/
}
.mensaje:focus {
    outline: none;
}

.botones{
    margin-top: 18px;
    align-items: centers;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-top: 30px;
    width: 336px;
}

.informacion {
    color: #495057;
    font-size:18px;
}